<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/Taylor_Swift.jpg" alt="taylor" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">taylor swift</h1>
      <p class="lead">artist | song writer</p>
    </div>
  </div>
</div>
